body {
    margin: 0;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
}

footer {
    color: #ffffff;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #000000;
}

header * {
    display: inline;
    
}

header ul {
    padding: 1;
}

header li {
    margin-inline: 20px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
}

contactus {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
}

#home .image_logo {
    width: 500px;
    border-radius: 50%;
    border-color: rgb(255, 1, 1);
    border-width: 1em;
    box-shadow: 10px 5px 5px rgb(4, 255, 0);
}

footer {
    text-align: center;
    padding: 25px
}

#home h1 {
    font-size: 3em;
    color: #026806;
}

main h2 {
    font-size: 2.0em;
    color: #026806;
}

main h3 {
    font-size: 2.0em;
    color: #026806;
}

main h4 {
    font-size: 2.0em;
    color: #026806;
}

nav {
    font-size: 2.0em;
    color: #1601ff;
}